<!DOCTYPE html>
<html>
	<head>
		<title>New Group</title>
		<script type="text/javascript">
			  $(document).ready(function()
			  {
			  		$("#btnCancel").click(closeWindow);
			  });
			  function closeWindow()
			  {
			  		window.parent.closeWindow('r<%=@user.id%>');
			  }
		</script>
	</head>
	<body>
			<%= form_for(@user, remote: true,:html=>{:class=>"form-horizontal",:role=>"form"}) do |p| %>

			<div class="row">	
					<div class="col-xs-12">
					<%= p.text_field :firstname,:id=>"idFirstName", :placeholder=>'First name', :size=> 50, :class=>"form-control",:required=> true, :autofocus=>true %>
					</div>
			</div>
			<section class="row">
					<div class="col-xs-12">
					<%= p.text_field :lastname, :placeholder=>'Last name', :size=> 50, :class=>"form-control", :required=> true %>
					</div>
			</section>
			<section class="row">
					<div class="col-xs-12">
					<%= p.text_field :email, :placeholder=>'Email', :size=> 50, :class=>"form-control", :required=> true %>
					</div>
			</section>
			<section class="row">
					<div class="col-xs-12">
						<% if @mode == "new" %>
						<%= collection_select("user","role_id",@roles,:id,:name,{ :prompt=>'Select role'},{:class=>"form-control",:required=>true})%>
						<% else %>
						<%= collection_select("user","role_id",@roles,:id,:name,{:include_blank=>'Select role', :selected=>@user.role.id},{:class=>"form-control",:required=>true})%>
						<% end %>
					</div>
			</section>
			<section class="row">
					<div class="col-xs-12">
					<% if @mode == "new" %>
					<%= collection_select("user","group_id",@groups,:id,:name,{ :prompt=>'Select group'},{:class=>"form-control",:required=>true})%>
					<% else %>
					<%= collection_select("user","group_id",@groups,:id,:name,{:include_blank=>'Select group', :selected=>@user.group.id},{:class=>"form-control",:required=>true})%>
					<% end %>
					</div>
			</section>
			<br/>
			<br/>
					<section id="tbar">
			        <%= hidden_field_tag "mode", @mode %>
			        <%= hidden_field_tag "page", @page %>
					<%= p.submit :id=>"btnSave", :value=>"Save Changes", :class=>"btn btn-primary", :data => {"data-loading-text" => "Saving Changes..."}  %>
					<%= p.submit :id=>"btnCancel",:value=>"Cancel", :type=>"reset",:class=>"btn btn-default" %>
					</section>
			<% end %>
			<br>
			<br>
	</body>
</html>
