<table id="dataTable" class="table-condensed table-hover">
			<thead>
				<tr>
					<th style="width:1%"><input type="checkbox" id="selectAll" value='-1' onclick="selectRows();"/></th>
					<th style="width:55%">Name</th>
					<th style="width:30%">Created</th>
					<th style="width:10%">Status</th>
					<th style="width:2%"></th>
				</tr>
			</thead>
			<thead>
				<tr>
					<th></th>
					<th><input type="text" id="idName" name="txtName" class="form-control-sm" value="<%=params[:txtName]%>" style="width:99%"/></th>
					<th><input type="text" id="idCreated" name="txtCreated" class="form-control-sm" value="<%=params[:txtCreated]%>" style="width:99%"/></th>
					<th><input type="text" id="idStatus" name="txtStatus" class="form-control-sm" value='<%=params[:txtStatus]%>' style="width:99%"/></th>
					<th><a id="idSearch" class="glyphicon glyphicon-search"></a></th>
				</tr>
			</thead>
			<tbody>
				<% @groups.each do |c| %>
				<tr id="r<%=c.id%>">
					<td><input type="checkbox" id="c<%=c.id%>" value='<%=c.id%>' name="ps[]"/></td>
					<td><%=c.name %></td>
					<td><% if !c.created_at.nil?  %>
						<%=c.created_at.strftime('%Y-%m-%d')%>
						<% end %>
					</td>
					<% if c.status.nil? %>
					<td>Active</td>
					<% else %>
					<td>Inactive</td>
					<% end %>
					<td><%=link_to(image_tag('delete.png',:border=>0), {:action=>'delete',:id=> c.id,:page=>@page},:method=>:post, :remote=>true, :data=> { :confirm=>'Are you sure?' })%></td>
				</tr>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">
							<%= will_paginate(@groups, :params => { :controller => "roles", :action => "index",:mode=>@mode}, remote: true) %>
						<!-- <%= will_paginate @Categorytypes, remote: true %> -->
					</td>
					<td colspan="2">
						<%=@groups.total_entries%> Records 
					</td>
				</tr>
			</tfoot>
		</table>