<!DOCTYPE html>
<html>
	<head>
		<title>Roles</title>
		<script>
			$(document).ready(function() 
			{			
					/* selecting the row */
					// $('.dataTable input[type=checkbox]').click(function(event)
					// {
						// event.stopPropagation()
					// });
// 					
					// $(document).on('dblclick','.dataTable tbody tr',openEditWindow);
					// $('.pagination a').attr('data-remote', 'true');
					// $( "#dialog-form" ).dialog({
						// dialogClass: "no-close",
				      	// autoOpen: false,
				      	// height: 300,
				      	// width: 500,
				      	// modal: true,
			    	// });			 
				    // $("#btnClose").click(closeWindow);
			 		// $('.ui-dialog-buttonpane').find('button').css('visibility','hidden');	
					$("#idNew").click(openNewWindow);
			});
			function openNewWindow()
	  		{
	  			try
	  			{
	  			  page = $("#page").val();
	  			  alert(page);
				  $("#newdialog").attr('src','<%=role_url%>?mode=new&page='+page);
	  			  $('#myDialogBox').modal("show");
				}
				catch(err)
				{
					alert(err.description);
				}
	  		}	
	  		function selectRows()
			{
				var selected = $("#selectAll").prop("checked");
				if (selected)
					$("input:checkbox").prop("checked",true);
				else
					$("input:checkbox").prop("checked",false);	
			}
	  		//updating the data
			function updateData(mode,data,rowid)
			{
				if (mode=="new")
				{
					// $(".dataTable > tbody:last").append(data);
					$("#roles").html(data);
					$('.pagination a').attr('data-remote', 'true');
				}
				else
				{
				$("#" + rowid).replaceWith(data);
				}

			}
	  		function closeWindow(id)
			{
				//$('#'+id).addClass('normalRow');		  			
				$('#myDialogBox').modal("hide");
			}
	  		function setMode(mode)
			{
				$('#mode').val(mode);
			}		
		</script>
	</head>
	<body class="container-fluid">
		<header class="row top-buffer">
			<div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1">
			<h4 class="glyphicon glyphicon-th-list"> Roles</h4>
			</div>
			<div class="col-md-2 col-sm-2">
				<select class="form-control input-sm">
				  <option>Id</option>
				  <option>Name</option>
				  <option>Created</option>
				  <option>Modified</option>
				</select>
			</div>
			<div class="col-md-2 col-sm-2">
				<input type="text" id="idSearch" name="idSearch" class="form-control input-sm"/>
			</div>
			<div class="col-md-offset-4 col-sm-offset-4 col-md-1 col-sm-1">
				<button id="idNew" type="button" class="btn btn-primary glyphicon glyphicon-plus" onclick="setMode('new')"></button>
			</div>
		</header>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<%= form_tag({:controller => 'roles',:action => "index"},:method=>:post, remote: true) do %>
				<section id="tbar">
					<input type="button" id="btnClose" value="Close" style='display:none;visibility: hidden'/>
					<input type="text" id="page" name="page" value="<%=@page%>" style='display: none;visibility: hidden;'/>
					<input type="text" id="mode" name="mode" value="<%=@mode%>" style='display: none;visibility: hidden'/>
				</section>
				<div id="roles">
					<%= render :partial => 'shared/roles' %>
				</div>
				<!-- dialog start -->
				<div class="modal fade" id="myDialogBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					        <h5 class="modal-title" id="myModalLabel">New Role</h5>
					      </div>
					      <div class="modal-body">
					        <iframe id="newdialog" name="newdialog" seamless="seamless" frameborder="0" height="100%" width="100%" scrolling="no"> 
							</iframe>
					      </div>
					      <!-- <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary">Save changes</button>
					      </div> -->
					    </div>
					  </div>
				</div>
				<!-- new dialog end -->
				<% end %>
				
			</div>
		</div>
		<!-- start here 
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		  Launch demo modal
		</button>
		-->
		<!-- Modal -->
		
	</body>
</html>
